.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }  

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~ */

.header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
  margin-left: 50px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 55px;
}

.header a {
    text-decoration: none;
    color: black;
}

.header a:hover {
    color: gray;
}

.logo-name {
  font-size: 1.4rem;
}

.nav-text {
  font-size: 1.1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~ */

.footer {
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


.copyright-container {
  color: white;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~ PRODUCTS ~~~~~~~~~~~~~~~~~~~~~~~ */

.home-page {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 60px;
  margin-bottom: 60px;
  align-items: center;
}

.home-header {
font-size: 60px;
}

.home-img {
  width: 1200px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~ PRODUCTS ~~~~~~~~~~~~~~~~~~~~~~~ */

.products-page {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 50px;
width: 70%;
margin-bottom: 100px;
}

.products-header {
  font-size: 50px;
}

.products-container {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  height: 130px;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
}

.product-name {
  font-size: 20px;
  color: black
}

.product {
  text-decoration: none;
}

.add-product-btn {
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 100px;
  width: 160px;
  border-radius: 10%;
  font-size: 20px;
  cursor: pointer;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~ PRODUCTS ~~~~~~~~~~~~~~~~~~~~~~~ */


.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #494848c9;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #090909f0;
  width: 40%;
  height: 60%;
}

.modal-header {
  margin-top: 0;
  font-size: 40px;
}

.modal-input {
  width: 80%;
  padding: 10px;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 30px;
}

.modal-button {
  cursor: pointer;
  height: 40px;
}

.modal-button-container {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: flex-end;
}